body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

iframe, img {
    display: block;
    width: 100vw;
    height: 100vh;
    border: none;
    opacity: 0;
    transition: opacity 1s;
}

img {
    object-fit: contain;
}
